
:root {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
  text-decoration: none;
  --color-1: rgb(10, 6, 37);
  --color-2: rgb(181, 194, 202);
  --color-3: rgb(232, 189, 110);
  --color-4: rgb(10, 10, 21);
  --typewriterSpeed: 5s;
  --typewriterCharacters: 27;
  --border-radius: 0.7em;
  --tech-stack-icon-height: 4em;
  --tech-stack-icon-width: 4em;
  --num-project-cards: 4;
  --project-card-height: max-content;
  --project-card-top-padding: 1.5em;
  --project-card-margin: 4vw;
  --name-block-2-start-time: 1.7s;
  background-color: var(--color-1);
  color: var(--color-2);
}

button, input[type="submit"], input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body{
  display: grid;
  align-items: center;
  justify-content: center;
}

html{
  scroll-behavior: smooth;
}

#hero{
  display: grid;
  height:100vh;
  grid-template-rows: 30% 10% 60%;
}

.hero-card{
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: max-content max-content;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hero-text{
  display: grid;
  grid-template-rows: 35% 65%;
  gap: 15%;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}

.hero-intro-name{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  padding: 0.5em;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--color-2);
  border-style: solid;
  gap: 0.5em;
}

#hero-intro-name-block-1{
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: right;
}

#hero-intro-name-block-1-inner{
  display: grid;
  grid-template-columns: max-content max-content;
  text-align: right;
  justify-content: right;
}

#hero-intro-name-block-1-inner-1{
  opacity: 0;
  animation: fadeInButton 2s ease 0s forwards;
}

#hero-intro-name-block-1-inner-2{
  opacity: 0;
  animation: fadeInButton 2s ease 0.7s forwards;
}

#hero-intro-name-block-2{
  display: grid;
  opacity: 0;
  grid-template-columns: 100% 0%;
  text-align: left;
  animation: fadeInButton 2s ease var(--name-block-2-start-time) forwards;
}

#name-highlight{
  color: var(--color-3);
}

.hero-intro-title-card{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr max-content 1fr;
}

.hero-intro-title{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 140%;
  position: relative;
  place-content: center;
  text-align: center;
}

.hero-intro-title::before,
.hero-intro-title::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hero-intro-title::before{
  background-color: var(--color-1);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) calc(2s + var(--name-block-2-start-time)) forwards;
}
.hero-intro-title::after{
  width: .125em;
  background-color: var(--color-2);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) calc(2s + var(--name-block-2-start-time)) forwards,
      blink 530ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
      left: 100%;
  }
}

@keyframes blink {
  to{
      background: transparent;
  }
}

@keyframes fadeInButton {
  to{
      opacity: 1;
      transform: translateY(0);
  }
}

.scroll-button-card{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr max-content 1fr;
}

.scroll-button{
  opacity: 0;
  position: relative;
  transform: translateY(3rem);
  animation: fadeInButton 2s ease calc(var(--typewriterSpeed) + 2s + var(--name-block-2-start-time)) forwards;
  color: var(--color-2);
  text-decoration-style: none;
  font-size: x-large;
  display: inline-block;
  cursor: pointer;
  border: var(--color-2) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: var(--border-radius);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
      0 0 0.25em var(--color-2);

  box-shadow: inset 0 0 0.5em 0 var(--color-2),
      0 0 0.5em 0 var(--color-2);
}

.scroll-button::before{
  pointer-events: none;
  content: '';
  position: absolute;
  background-color: var(--color-2);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.2em);
  opacity: 0.7;
}

.scroll-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--color-2);
  opacity: 0;
  background-color: var(--color-2);
  z-index: -1;
  transition: opacity 100ms linear;
}

#scroll-symbol{
  font-size: 150%;
}

.scroller{
  max-width: fit-content;
  opacity: 0;
  animation: fadeInButton 8s ease calc(var(--typewriterSpeed) + 3s + var(--name-block-2-start-time)) forwards;
}

.scroller[data-animated=true]{
  overflow: hidden;
  mask: linear-gradient(
      90deg, 
      transparent, 
      white 20%,
      white 80%,
      transparent
      );
  -webkit-mask: linear-gradient(
      90deg, 
      transparent, 
      white 20%,
      white 80%,
      transparent
      );;
}

.scroller[data-animated=true] .tech-stack-carousel-list{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_scroll-duration, 40s) var(--_scroll-direction, forwards) linear infinite;
}

.scroller[data-direction="right"]{
  --_scroll-direction: reverse;
}

.scroller[data-duration="fast"]{
  --_scroll-duration: 10s;
}

@keyframes scroll {
  to{
      transform: translate(calc(-50% - 0.4rem));
  }
}

.tech-stack-carousel-list{
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}



.tech-stack-icon{
  height: 10rem;
}

#html-icon {
  background: url("/HTML5_Badge.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#css-icon {
  background: url("/CSS3_logo.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#js-icon {
  background: url("/javascript.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#webpack-icon {
  background: url("/webpack-icon.svg");
  height: calc(var(--tech-stack-icon-height) + 0.5rem);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#jest-icon {
  background: url("/jest-js-icon.svg");
  height: calc(var(--tech-stack-icon-height) + 0.5rem);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#react-icon {
  background: url("/React-icon.svg");
  height: calc(var(--tech-stack-icon-height) - 0.5rem);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#node-icon {
  background: url("/nodejs-icon-svgrepo-com.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#git-icon {
  background: url("/Git_icon.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#mongodb-icon {
  background: url("/mongodb-icon.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#solidity-icon {
  background: url("/solidity-svgrepo-com.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#truffle-icon {
  background: url("/truffle-seeklogo.com 2.svg");
  height: var(--tech-stack-icon-height);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

#hardhat-icon {
  background: url("/hardhat-seeklogo.com.svg");
  height: calc(var(--tech-stack-icon-height) - 1.25rem);
  width: var(--tech-stack-icon-width);
  background-size: cover;
}

/* desktop stuff */
@media (hover: hover)
{
  .scroll-button:hover,
  .scroll-button:focus{
      color: var(--color-1);
      text-shadow: none;
  }

  .scroll-button:hover::after,
  .scroll-button:focus::after{
      opacity: 1;
  }

  .scroll-button:hover::before,
  .scroll-button:focus::before{
      opacity: 1;
  }

  .live-app-link:hover,
  .live-app-link:focus{
      color: var(--color-3);
      background-color: var(--color-1);
      border-color: var(--color-3);
      border-width: 1px;
      border-style: solid;
      filter: blur(.025em);
      transition: background-color 300ms linear;
  }

}

/* Projects section */

#projects{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--num-project-cards), var(--project-card-height));
  gap: var(--project-card-margin);
  padding-bottom: calc(var(--num-project-cards) * var(--project-card-top-padding));
  margin-bottom: var(--project-card-margin);
}

#projects-title{
  font-size: x-large;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--color-2);
  text-decoration-style: none;
  font-size: xx-large;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
      0 0 0.25em var(--color-2);
}

#project-card-1{
  --index: 1;
}
#project-card-2{
  --index: 2;
}
#project-card-3{
  --index: 3;
}
#project-card-4{
  --index: 4;
}

.project-card{
  position: sticky;
  background-color: var(--color-1);
  border-radius: var(--border-radius);
  opacity: 0.95;
  top: 0;
  padding-top: calc(var(--index) * var(--project-card-top-padding));
  box-shadow: 0 0 30px 0 var(--color-4);
  height: var(--project-card-height);
  display: grid;
  grid-template-rows: max-content max-content;
  align-items: center;
  justify-content: center;
}

.project-description-card{
  color: var(--color-2);
  text-decoration-style: none;
  font-size: large;
  display: inline-block;
  cursor: pointer;
  border: var(--color-2) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: var(--border-radius);

  box-shadow: inset 0 0 0.5em 0 var(--color-2),
      0 0 0.5em 0 var(--color-2);

  gap: 0.5em;

}

iframe{
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.project-card-footer{
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 3em;
}

.live-app-link{
  color: var(--color-1);
  background-color: var(--color-3);
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.repository-link,
#github-button{
  background: url("/github-mark-white.svg");
  background-size: cover;
  background-position: center bottom;
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
}

.main{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: max-content max-content max-content;
  gap: 8em;
}

.contact-title{
  font-size: x-large;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  text-decoration-style: none;
  font-size: xx-large;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
      0 0 0.25em var(--color-3);

  border-radius: var(--border-radius);
  border-color: var(--color-3);
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  width: fit-content;
}

.contact-card{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-items: center;
  height: max-content;
}

#contact-form{
  width: 90vw;
  background-color: var(--color-1);
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  font-size: x-large;
  height: max-content;
}

#contact-form:before, #contact-form:after {
  box-sizing: border-box;
}

input[type=text],
input[type=email],
#form-name,
textarea{
  padding: 0.5em;
  margin:0.5em 0;
  border: 0;
  background-color: var(--color-3);
  color: var(--color-1);
  box-shadow:0 0 15px 4px var(--color-3);
  font-size: large;
  font-weight: bold;
  border-radius: var(--border-radius);
  font-family:inherit;
  resize: vertical;
}

textarea{
  width: 80vw;
}

#message{
  min-height: 14em;
  justify-content:left;
  overflow-wrap: normal;
}

input[type="submit"],
.resume-button{
  position: relative;
  transform: translateY(3rem);
  color: var(--color-3);
  text-decoration-style: none;
  font-size: x-large;
  display: inline-block;
  cursor: pointer;
  border: var(--color-3) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: var(--border-radius);

  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
      0 0 0.25em var(--color-3);

  box-shadow: inset 0 0 0.5em 0 var(--color-3),
      0 0 0.5em 0 var(--color-3);
}

.resume-button{
  font-size: large;
  transform: translateY(-0.5rem);
}

input[type="submit"]::before{
  pointer-events: none;
  content: '';
  position: absolute;
  background-color: var(--color-3);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.2em);
  opacity: 0.7;
}

input[type="submit"]::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--color-3);
  background-color: var(--color-3);
  z-index: -1;
}

.scroll-to-top-card{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 4em;
}

.links-list{
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1em;
  justify-content: right;
  align-items: baseline;
  padding-top: 4em;
}

#linkedin-button{
  background: url("/LinkedIn_icon.svg");
  background-size: cover;
  background-position: center bottom;
  height: 2em;
  width: 2em;
  justify-content: right;
  align-items: center;
}

.success-message{
  display: grid;
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: var(--color-1);
  border-radius: 0.5em;
  border-color: var(--color-2);
  border-width: 1px;
  border-style: solid;
  color: var(--color-2);
  padding: 0.5em;
  font-weight: 900;
  font-size: x-large;
}