
:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    text-decoration: none;
    --color-1: rgb(10, 6, 37);
    --color-2: rgb(181, 194, 202);
    --color-3: rgb(232, 189, 110);
    --color-4: rgb(10, 10, 21);
    --typewriterSpeed: 5s;
    --typewriterCharacters: 27;
    --border-radius: 0.7em;
    --tech-stack-icon-height: 4em;
    --tech-stack-icon-width: 4em;
    --num-project-cards: 4;
    --project-card-height: 100vh;
    --project-card-top-padding: 1.5em;
    --project-card-margin: 4vw;
    --name-block-2-start-time: 1.7s;
    background-color: var(--color-1);
    color: var(--color-2);
  }

  button, input[type="submit"], input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

body{
    display: grid;
    align-items: center;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

#hero{
    display: grid;
    height:100vh;
    grid-template-rows: 30% 10% 60%;
}

.hero-card{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 35% 15%;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero-text{
    display: grid;
    grid-template-rows: 35% 65%;
    gap: 15%;
    justify-content: center;
    align-items: center;
}

.hero-intro-name{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    padding: 0.5em;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-color: var(--color-2);
    border-style: solid;
    gap: 0.5em;
}

#hero-intro-name-block-1{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: right;
}

#hero-intro-name-block-1-inner{
    display: grid;
    grid-template-columns: max-content max-content;
    text-align: right;
    justify-content: right;
}

#hero-intro-name-block-1-inner-1{
    opacity: 0;
    animation: fadeInButton 2s ease 0s forwards;
}

#hero-intro-name-block-1-inner-2{
    opacity: 0;
    animation: fadeInButton 2s ease 0.7s forwards;
}

#hero-intro-name-block-2{
    display: grid;
    opacity: 0;
    grid-template-columns: 100% 0%;
    text-align: left;
    animation: fadeInButton 2s ease var(--name-block-2-start-time) forwards;
}

#name-highlight{
    color: var(--color-3);
}

.hero-intro-title-card{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr max-content 1fr;
}

.hero-intro-title{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 140%;
    position: relative;
    place-content: center;
    text-align: center;
}

.hero-intro-title::before,
.hero-intro-title::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero-intro-title::before{
    background-color: var(--color-1);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) calc(2s + var(--name-block-2-start-time)) forwards;
}
.hero-intro-title::after{
    width: .125em;
    background-color: var(--color-2);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) calc(2s + var(--name-block-2-start-time)) forwards,
        blink 530ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to{
        background: transparent;
    }
}

@keyframes fadeInButton {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-button-card{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr max-content 1fr;
}

.scroll-button{
    opacity: 0;
    position: relative;
    transform: translateY(3rem);
    animation: fadeInButton 2s ease calc(var(--typewriterSpeed) + 2s + var(--name-block-2-start-time)) forwards;
    color: var(--color-2);
    text-decoration-style: none;
    font-size: x-large;
    display: inline-block;
    cursor: pointer;
    border: var(--color-2) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: var(--border-radius);

    text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
        0 0 0.25em var(--color-2);

    box-shadow: inset 0 0 0.5em 0 var(--color-2),
        0 0 0.5em 0 var(--color-2);
}

.scroll-button::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background-color: var(--color-2);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.2em);
    opacity: 0.7;
}

.scroll-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--color-2);
    opacity: 0;
    background-color: var(--color-2);
    z-index: -1;
    transition: opacity 100ms linear;
}

#scroll-symbol{
    font-size: 150%;
}

.scroller{
    max-width: fit-content;
    opacity: 0;
    animation: fadeInButton 8s ease calc(var(--typewriterSpeed) + 3s + var(--name-block-2-start-time)) forwards;
}

.scroller[data-animated=true]{
    overflow: hidden;
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%,
        white 80%,
        transparent
        );
    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%,
        white 80%,
        transparent
        );;
}

.scroller[data-animated=true] .tech-stack-carousel-list{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_scroll-duration, 40s) var(--_scroll-direction, forwards) linear infinite;
}

.scroller[data-direction="right"]{
    --_scroll-direction: reverse;
}

.scroller[data-duration="fast"]{
    --_scroll-duration: 10s;
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% + 0.75rem));
    }
}

.tech-stack-carousel-list{
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}



.tech-stack-icon{
    height: 10rem;
}

#html-icon {
    background: url("../src/HTML5_Badge.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #css-icon {
    background: url("../src/CSS3_logo.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #js-icon {
    background: url("../src/javascript.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #webpack-icon {
    background: url("../src/webpack-icon.svg");
    height: calc(var(--tech-stack-icon-height) + 0.5rem);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #jest-icon {
    background: url("../src/jest-js-icon.svg");
    height: calc(var(--tech-stack-icon-height) + 0.5rem);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #react-icon {
    background: url("../src/React-icon.svg");
    height: calc(var(--tech-stack-icon-height) - 0.5rem);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #node-icon {
    background: url("../src/nodejs-icon-svgrepo-com.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #git-icon {
    background: url("../src/Git_icon.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #mongodb-icon {
    background: url("../src/mongodb-icon.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #solidity-icon {
    background: url("../src/solidity-svgrepo-com.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #truffle-icon {
    background: url("../src/truffle-seeklogo.com 2.svg");
    height: var(--tech-stack-icon-height);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

  #hardhat-icon {
    background: url("../src/hardhat-seeklogo.com.svg");
    height: calc(var(--tech-stack-icon-height) - 1.25rem);
    width: var(--tech-stack-icon-width);
    background-size: cover;
  }

/* desktop stuff */
@media (hover: hover)
{
    .scroll-button:hover,
    .scroll-button:focus{
        color: var(--color-1);
        text-shadow: none;
    }

    .scroll-button:hover::after,
    .scroll-button:focus::after{
        opacity: 1;
    }

    .scroll-button:hover::before,
    .scroll-button:focus::before{
        opacity: 1;
    }

}

/* Projects section */

#projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--num-project-cards), var(--project-card-height));
    gap: var(--project-card-margin);
    padding-bottom: calc(var(--num-project-cards) * var(--project-card-top-padding));
    margin-bottom: var(--project-card-margin);
}

#projects-title{
    font-size: x-large;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
    text-decoration-style: none;
    font-size: xx-large;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
        0 0 0.25em var(--color-2);
}

#project-card-1{
    --index: 1;
}
#project-card-2{
    --index: 2;
}
#project-card-3{
    --index: 3;
}
#project-card-4{
    --index: 4;
}

.project-card{
    position: sticky;
    background-color: var(--color-1);
    border-radius: var(--border-radius);
    opacity: 0.95;
    top: 0;
    padding-top: calc(var(--index) * var(--project-card-top-padding));
    box-shadow: 0 0 30px 0 var(--color-4);
    height: var(--project-card-height);
    display: grid;
    grid-template-rows: max-content 1fr;
}

.project-description-card{
    color: var(--color-2);
    text-decoration-style: none;
    font-size: large;
    display: inline-block;
    cursor: pointer;
    border: var(--color-2) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: var(--border-radius);

    box-shadow: inset 0 0 0.5em 0 var(--color-2),
        0 0 0.5em 0 var(--color-2);

}

#project-video-card-1 {
  }

video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
